.currency-details {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  margin: 20px;
}

.currency-details-name {
  font-size: 36px;
  margin-bottom: 10px;
}

.currency-details-symbol {
  font-size: 30px;
  margin-bottom: 10px;
}

.currency-details-cap {
  font-size: 20px;
  margin-bottom: 10px;
}

.price-container {
  display: flex;
  flex-direction: column;
}

.stats-container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.row > *:not(:last-child) {
  margin-right: 20px;
}
